body{background: linear-gradient(to right,blue,rgb(239, 3, 3),white);text-align: center;}
h1{color: black;font-size: 30px;font-style: oblique;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 5px;}
h2{color: white;font-size: 20px;font-style: italic;text-shadow: 5px;font-family: Arial, Helvetica, sans-serif;}
p{color: white;font-size: 15px;font-family: 'Times New Roman', Times, serif;font-style: inherit;text-shadow: 5px;}
thead{text-align: left;font-size: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 5px;font-style: oblique;}
tbody{text-align: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;text-shadow: 5px;font-style: italic;}
tfoot{text-align: left;font-size: 20px;font-family: 'Times New Roman', Times, serif;text-shadow: 5px;font-style: initial;}
dl{padding: 5px;}
dt{padding: 5px;text-align: left;font-size: 20px;font-style: oblique;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 5px;}
dd{padding: 5px;text-align: left;font-size: 15px;font-style: italic;font-family: Arial, Helvetica, sans-serif;text-shadow: 5px;}
summary{margin: auto;width: 230px;border-radius: 10px 10px;}